{% extends 'base.html.twig' %}

{% block title %}New Category{% endblock %}

{% block body %}
    <div style="width: 60%;margin: auto;">
     <h4>Ajout nouvelle categorie</h4>


    {{ include('category/_form.html.twig') }}

    <a href="{{ path('app_category_index') }}">Annuler</a>
        </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
	<script src="{{ asset('js/form.js') }}"></script>
{% endblock %}